[submodule "lib/sismo-connect-solidity"]
	path = lib/sismo-connect-solidity
	url = https://github.com/sismo-core/sismo-connect-solidity
[submodule "lib/eas-contracts"]
	path = lib/eas-contracts
	url = https://github.com/ethereum-attestation-service/eas-contracts
